@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
body{
    background-color: turquoise;
    text-align: center;
    font-family: 'Bubbler One', sans-serif;
}

h1{
    color: tomato;
}
h2{
    color: darkorange;
}

img{
    width: 300px;
    height: 350px;

}

p{
    font-size: 20px;
}